@keyframes wave {
  0% {
    transform: translateY(0px);
  }
  30% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}

$wiggle-intensity: 3px;

@keyframes wiggle {
  0% {
    transform: translateX($wiggle-intensity);
  }
  50% {
    transform: translateX(-$wiggle-intensity);
  }
  70% {
    transform: translateX($wiggle-intensity);
  }
}
