@keyframes wave {
  0% {
    transform: translateY(0px);
  }
  30% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes wiggle {
  0% {
    transform: translateX(3px);
  }
  50% {
    transform: translateX(-3px);
  }
  70% {
    transform: translateX(3px);
  }
}
