@mixin justify-center {
    display: flex;
    justify-content: center;
}

@mixin footer-sections {
    color: $color-secondary;
    font-weight: normal;
    font-size: 1.2em;
}

@mixin card {
    min-height: 400px;
    width: 40%;
    margin-right: 20px;
    margin-left: 20px;
    box-shadow: 0 0 6px #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

