@mixin button {
  margin-bottom: 15px;
  padding: 10px 35px;
  border-radius: 15px;
  font-family: $font-primary;
  font-size: 1.8rem;
  font-weight: normal;
  background-color: $color-primary;
  color: $color-secondary;
  @include media-phone {
    padding: 10px 20px;
    font-size: 1.4rem;
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
}

$breakpoints: (
  phone: 380px,
  medium: 900px,
  large: 1200px,
);

@mixin media-phone {
  @media screen and (max-width: map-get($breakpoints, phone)) {
    @content;
  }
}

@mixin media-medium {
  @media screen and (max-width: map-get($breakpoints, medium)) {
    @content;
  }
}

@mixin media-large {
  @media screen and (max-width: map-get($breakpoints, large)) {
    @content;
  }
}
