@mixin footer-sections {
  color: $color-secondary;
  font-weight: normal;
  font-size: 1.7rem;
  padding: 0 20px;
}

/* Responsive */

@mixin media-small {
  @media screen and (max-width: map-get($breakpoints, small)) {
    @content;
  }
}

@mixin media-medium {
  @media screen and (max-width: map-get($breakpoints, medium)) {
    @content;
  }
}

@mixin media-large {
  @media screen and (max-width: map-get($breakpoints, large)) {
    @content;
  }
}
