footer {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $footer-height;
  background-color: $color-primary;
  a {
    padding: 0 20px;
    font-size: 1.5rem;
    font-weight: normal;
    color: $color-secondary;
    @include media-small {
      padding: 0 15px;
      font-size: 1.1rem;
    }
  }
  a:hover {
    animation: wiggle 75ms linear;
    animation-iteration-count: 5;
  }
}
