header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $header-height;
  background-color: $color-primary;
  @include media-small {
    height: $header-height-media-small;
  }
  h1 {
    margin: 0;
    font-size: 3.6rem;
    font-weight: bold;
    color: $color-secondary;
    @include media-small {
      margin: 15px 0 15px 0;
      font-size: 2.8rem;
    }
  }
}
