.soon-btn {
  @include flex-center;
  padding-bottom: 80px;
  .btn {
    @include button;
    .dot {
      display: inline-block;
      animation: wave 1.3s linear infinite;
    }
    .dot:nth-child(3) {
      animation-delay: -1.1s;
    }
    .dot:nth-child(4) {
      animation-delay: -0.9s;
    }
  }
}

.return-btn {
  @include flex-center;
  padding-bottom: 80px;
  .btn {
    @include button;
    transition: transform 450ms, background-color 300ms 150ms;
    &:hover {
      transform: scale(1.1);
      background-color: darken($color-primary, 10%);
    }
  }
}
