.soon-btn {
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
  .btn {
    padding: 10px 35px;
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: $color-primary;
    color: $color-secondary;
    font-family: "Europa";
    font-weight: normal;
    font-size: 2.1rem;
    .dot {
      display: inline-block;
      animation: wave 1.3s linear infinite;
    }
    .dot:nth-child(3) {
      animation-delay: -1.1s;
    }
    .dot:nth-child(4) {
      animation-delay: -0.9s;
    }
  }
}
