.card {
    min-height: 400px;
    width: 100%;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 6px #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 280px;
}