body {
  margin: 0;
  background-color: $color-primary;
}

.bloc-page {
  background-color: white;
  padding: 8px 8px calc(8px + #{$footer-height}) 8px;
  min-height: calc(100vh - #{$header-height});
  color: black;
  @include media-medium {
    min-height: calc(100vh - #{$header-height-media});
  }
}

main {
  @include flex-center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1079px;
  margin: auto;
  padding: 20px 0;
  @include media-medium {
    padding: 8px 0 20px 0;
  }
}
