body {
  margin: 0;
  background-color: $color-primary;
}

.bloc-page {
  background-color: white;
}

main {
  @include flex-center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1079px;
  margin: auto;
  padding: 20px 0;
}
