.menu {
  &--la-note-enchantee {
    h3 {
      margin: 10px 0 0 0;
      font-size: 2.9rem;
      @include media-small {
        font-size: 2rem;
      }
    }
    h4 {
      font-size: 1.4rem;
      @include media-small {
        font-size: 1rem;
      }
    }
    &__bottom {
      display: flex;
      align-items: center;
      margin-top: 25px;
      padding-bottom: 45px;
      font-family: "Devonshire", "cursive";
      font-size: 2rem;
      color: #3a0912;
      p {
        font-family: "Devonshire", "cursive";
        font-size: 2.5rem;
        @include media-small {
          font-size: 1.7rem;
        }
      }
      .icon-music {
        width: 50px;
        margin-right: 20px;
        @include media-small {
          width: 30px;
          margin-right: 10px;
        }
      }
    }
  }

  &--le-chic-a-la-francaise {
    h3 {
      font-size: 2.3rem;
      @include media-small {
        font-size: 1.3rem;
      }
    }
    .line-menu-2 {
      width: 245px;
      @include media-small {
        width: 110px;
      }
    }
  }

  &--le-delice-des-papilles {
    h4 {
      font-weight: normal;
    }
  }
}
