.menu {
  @each $name, $theme in $menu-themes {
    &--#{$name} {
      background-color: map-get($theme, bg);

      h3 {
        margin: 10px 0 60px 0;
        background-image: linear-gradient(
          to right,
          map-get($theme, title-color-start),
          map-get($theme, title-color-stop)
        );
        color: transparent;
        -webkit-background-clip: text;
        font-size: 3.5rem;
        font-family: map-get($theme, title-family);
        font-weight: 100;
        @include media-phone {
          margin: 10px 0;
          font-size: 2rem;
        }
      }

      h4 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 60px;
        margin-bottom: 30px;
        font-family: map-get($theme, text-family);
        font-size: 1.2rem;
        font-weight: bold;
        @include media-phone {
          text-align: center;
          margin-top: 30px;
          font-size: 0.9rem;
        }

        .line-menu-1,
        .line-menu-3 {
          width: 250px;
          @include media-phone {
            width: 83px;
          }
        }
        .line-menu-1:last-child,
        .line-menu-2:last-child {
          transform: rotate(180deg);
        }
      }

      p {
        font-family: map-get($theme, text-family);
      }
    }
  }

  &--main {
    padding-top: 0;
  }

  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 65px;
    @include media-phone {
      padding-top: 45px;
    }
    .icon-music {
      width: 75px;
      @include media-phone {
        width: 50px;
      }
    }
  }

  &__header {
    h2 {
      display: inline-block;
      text-align: center;
      width: 100%;
      font-size: 2.2rem;
      color: black;
      @include media-phone {
        font-size: 1.5rem;
      }
    }
  }

  &__footer {
    padding-bottom: 90px;
    @include media-phone {
      padding-bottom: 45px;
    }
  }

  &__container {
    @include flex-center;
    flex-direction: column;
    align-items: center;
    width: 80%;
    box-shadow: 0 0 6px #ccc;
    margin: 0 auto 60px auto;
    @include media-phone {
      width: 90%;
      margin: 0 auto 30px auto;
    }
  }

  &__content {
    text-align: center;
    width: 85%;
    color: black;
    @include media-phone {
      text-align: left;
      width: 90%;
    }

    .underline {
      position: relative;
      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 0;
        height: 3px;
        left: 0;
        transition: width 1s ease;
      }
      &:hover::after {
        width: 100%;
      }
    }

    p {
      display: flex;
      justify-content: space-between;
      flex-flow: row nowrap;
      font-size: 1rem;
      margin: 20px;
      @include media-phone {
        margin: 20px 0;
        font-size: 0.8rem;
      }

      .price {
        padding-left: 20px;
        font-size: 1.1rem;
        font-weight: bold;
        @include media-phone {
          font-size: 0.8rem;
        }
      }
    }

    $colours-menus: (
      orange: #c67412,
      purple: #a56799,
      blue: #6e4ccc,
      black: black,
      dark-blue: #0228dd,
      medium-blue: #0670f3,
      light-blue: #229df9,
      green: #bfff7e,
    );
    @each $name, $value in $colours-menus {
      &--#{"color-" + $name} {
        color: $value;
        p {
          color: $value;
        }
        .underline::after {
          background-color: $value;
        }
        .line-menu-1 path,
        .line-menu-2 path,
        .line-menu-3 path {
          fill: $value;
        }
      }
    }
  }
}
